{%extends 'base.html'%}

{% block content %}



<main class="container py-5">
    <section class="card card-body">
             
    <!--<div class="card" style="width: 18rem;">--> 
            <div class="card-body">
                <h3 class="card-title text-center">C.R.M Administracion web</h3>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium inventore et eum ut labore consequuntur quod enim similique eaque maiores! Libero, facilis aliquam. Magnam rerum, dignissimos laboriosam reprehenderit commodi delectus..</p>
                <div class="text-center">
                    <a  href="/signin/" class="btn btn-primary" >
                        Iniciar sesion
                    </a>
                    <a  href="/signup/" class="btn btn-dark" >
                        Crear cuenta
                    </a>
                </div>
            </div>
     
    <!--</div>-->  
        
    </section>
</main>

{% endblock %}