{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md6 offset-md-3">
                <h1 class="">Tasks Pendiente</h1>
  
                <ul>
                    {% for task in tasks %}
                        
                            <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                               <!-- <header class="d-flex justify-content-bettween"> -->
                                    {% if task.important %}
                                    <h1 class="fw-bold text-success">
                                        {{task.title}}</h1>
                                    
                                    {% else %}
                                   <h1 class="fw-bold">{{task.title}}</h1> 
                                    {%endif%}
    
                                    <p>{{task.description}}</p>
                                    <p>{{task.user.username}}</p>
                                    <p>{{task.datecompleted|date:'M Y:i'}}</p>

                            </a>
                        
                            
                        
                    {% endfor %}
                </ul>
            
            </div>
        </div>
    </main>

   





{% endblock%}



